# Virtual environment
.venv/
venv/

# Logs and runtime
app.log
app.pid

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env

# Editor files
.vscode/

database/geo_data.db
database/geo_data.db-shm
database/geo_data.db-wal

# Generated config files (created on first start)
database/backend_conf.json
database/trusted_organisations.json
